.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.column-half-header,
.column-half-buttons {
  width: 50%;
}

.column-half-title {
  width: 80%;
}

.column-half-edit {
  width: 20%;
}

.text-align-right {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  /* FIX PADDING */
  .column-full,
  .column-half,
  .column-half-buttons {
    padding: 0;
  }

  .column-full-notes {
    padding-left: 0;
  }

  .column-half {
    width: 50%;
  }
}
